:root {
    --primary-color: #4EA685;
    --gray: #efefef;
    --gray-2: #757575;
    --white: #ffffff;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--gray);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: var(--white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.row {
    display: flex;
    justify-content: center;
}

.col {
    width: 100%;
}

.align-items-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form-wrapper {
    width: 100%;
}

.form {
    margin-top: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: var(--gray-2);
}

.input-group input {
    width: 100%;
    padding: 10px 30px;
    font-size: 1rem;
    background-color: var(--gray);
    border-radius: .5rem;
    border: 0.125rem solid var(--white);
    outline: none;
}

.input-group input:focus {
    border: 0.125rem solid var(--primary-color);
}

button {
    cursor: pointer;
    width: 100%;
    padding: 10px 0;
    border-radius: .5rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 1.2rem;
    outline: none;
}

button:hover {
    background-color: darken(var(--primary-color), 10%);
}

p {
    margin-top: 20px;
    font-size: 0.9rem;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
