{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>

  <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col align-items-center flex-col sign-up">

        <form method="post" action="{% url 'cadastro' %}">
               {% csrf_token %}
        
          <div class="form-wrapper align-items-center">
            <div class="form sign-up">
              <h2>Create an Account</h2>
              <div class="input-group">
                <i class='bx bxs-user'></i>
                <input type="text" name="username" placeholder="username" required>
              </div>
              <div class="input-group">
                <i class='bx bx-mail-send'></i>
                <input type="email" name="email" placeholder="email" required>
              </div>
              <div class="input-group">
                <i class='bx bxs-lock-alt'></i>
                <input type="password" name="password" placeholder="senha" required>
              </div>
              
              <input type="submit" value="cadastrar">
              <p>Already have an account? <a href="{% url 'login' %}">Sign in here</a></p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="{% static 'javascript/login.js' %}"></script>
</body>
</html>
