{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>oi</title>
     
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>
    <body>


        <!-- header -->
<header class="header" id="header">
    <div class="head-top">
        <div class="site-name">
            <img src="{% static 'img/logo-ok.png' %}" alt="logo">
        </div>
        <div class="site-nav">
            <span id="nav-btn">MENU <i class="fas fa-bars"></i></span>
        </div>
    </div>
</header>

            <div class = "head-bottom flex">
                <h2>Em Pipa, o Luxo é Sua Casa: Viva Uma Temporada Inesquecível!
                </h2>
                <!-- <div class="pointerarea"> -->
                  <button type = "button" class = "head-btn" onclick="window.location='';" >Reserve já!!</button>
                <!-- </div> -->
            </div>
        </header>
        <!-- end of header -->
        <!-- side navbar -->
        <div class="scroll-bg"></div>
        <div class = "sidenav" id = "sidenav">
            <span class = "cancel-btn" id = "cancel-btn">
                <i class = "fas fa-times"></i>
            </span>

            <div class="btn-container">
                <button class="btn sign-up"><a href="{% url 'login' %}">Login</a></button>


            </div>
        </div>
        <!-- end of side navbar -->

        <!-- fullscreen modal -->
        <div id = "modal"></div>
        <!-- end of fullscreen modal -->

        <!-- body content  -->
        
        <section class="rooms sec-width" id="rooms">
            <div class="title">
              <h2 class="drk-md-hnd">Casas Disponíveis</h2>
            </div>
            <div class="rooms-container">
                {% for casa in todas_casas %}
                <article class="room">
                  <div class="room-image">
                    {% if casa.fotos %}
                    <img src="{{casa.fotos.url}} "  alt="{{ casa.nome }}">
                    {% else %}
                      <p>Nenhuma imagem disponível</p>
                    {% endif %}
                  </div>
                  <div class="room-text">
                    <h3>{{ casa.nome }}</h3>
                    <ul>
                      <li><i class="fas fa-arrow-alt-circle-right"></i> Ocup.max.: {{ casa.quantidade_quartos }} Pessoas</li>
                      <li><i class="fas fa-arrow-alt-circle-right"></i> Piscina: {% if casa.possui_piscina %}Sim{% else %}Não{% endif %}</li>
                      <!-- Adicione mais detalhes conforme necessário -->
                    </ul>
                    <div class="cardText">
                        <p>{{ casa.introducao_casa }}</p>
                      </div>
                      <p class="rate">
                        <span style="font-size:18.0pt">R$ {{ casa.preco }} /-</span> /Noite
                      </p>
                      <button type="button" class="btn"><a class="booknw" href="{% url 'booking' %}">Reservar Agora</a></button>
                      
                      {% if user.is_authenticated %}
                        <a href="{% url 'editar_casas' casa.id %}">EDITAR</a>
                        <a href="{% url 'remover_casa' casa.id %}"> REMOVER</a>
                        {% if user == casa.owner %}
                          {# Botões adicionais ou lógica específica para o proprietário da casa #}
                        {% endif %}
                      {% endif %}
                      </div>
                      </article>
                      {% if empty %}
                        <p>Não existem casas cadastradas</p>
                      {% endif %}
                      {% endfor %}
              
            </div>
          </section>
        </section>


        
        <!-- end of body content -->

        <!-- footer -->
        <footer class = "footer">
            <div class = "footer-container">
                <div>
                    <h2>Sobre Nós</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel veniam placeat soluta consequuntur! Ex provident porro veniam veritatis aliquid, tempora culpa quae deserunt eligendi impedit omnis incidunt quas hic. Quam.
                        </p>
                    <ul class = "social-icons">
                        <li class = "flex">
                            <i class = "fa fa-twitter fa-2x"></i>
                        </li>
                        <li class = "flex">
                            <i class = "fa fa-facebook fa-2x"></i>
                        </li>
                        <li class = "flex">
                            <i class = "fa fa-instagram fa-2x"></i>
                        </li>
                    </ul>
                </div>

                <div>
                    <h2>Links uteis</h2>
                    <a href = "#header">Home</a>
                    <a href = "#rooms">Rooms</a>
              
                </div>


                <div>
                    <h2>Contatos</h2>
                    <div class = "contact-item">
                        <span>
                            <i class = "fas fa-map-marker-alt"></i>
                        </span>
                        <span>
                            Praia da pipa, R. albacora 6019
                        </span>
                    </div>
                    <div class = "contact-item">
                        <span>
                            <i class = "fas fa-phone-alt"></i>
                        </span>
                        <span>
                         + 55 84 998424140
                        </span>
                    </div>
                    <div class = "contact-item">
                        <span>
                            <i class = "fas fa-envelope"></i>
                        </span>
                        <span>
                            mmakarios44@gmail.com
                        </span>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end of footer -->

        <script src="{% static 'javascript\script.js' %}"></script>

    </body>
</html>
