{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
     
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
        <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>
    <body>


        <header class="header" id="header">
            <div class="head-top">
                <div class="site-name">
                    <img src="{% static 'img/LOGO.png' %}" alt="logo">
                </div>
                <div class="site-nav">
                    <span id="nav-btn">MENU <i class="fas fa-bars"></i></span>
                    {% if user.is_authenticated %}
                        <a href="{% url 'perfil' %}" class="profile-btn">Perfil</a>
                    {% endif %}
                </div>
            </div>
        </header>

            <div class = "head-bottom flex">
                <h2>Em Pipa, o Luxo é Sua Casa: Viva Uma Temporada Inesquecível!
                </h2>
                <!-- <div class="pointerarea"> -->
                  <button type = "button" class = "head-btn" onclick="window.location='';" >Reserve já!!</button>
                <!-- </div> -->
            </div>
        </header>
        <!-- end of header -->
        <!-- side navbar -->
        <div class="scroll-bg"></div>
        <div class = "sidenav" id = "sidenav">
            <span class = "cancel-btn" id = "cancel-btn">
                <i class = "fas fa-times"></i>
            </span>

            <div class="btn-container">
               
              
                  <button class="btn sign-up"><a href="{% url 'formcad' %}">Cadastrar Casas</a></button>
                
                  <button class="btn sign-up"><a href="{% url 'login' %}">Sair</a></button>

        

            </div>
        </div>
        <!-- end of side navbar -->

        <!-- fullscreen modal -->
        <div id = "modal"></div>
        <!-- end of fullscreen modal -->

        <!-- body content  -->
        
        <section class="rooms sec-width" id="rooms">
            <div class="title">
              <h2 class="drk-md-hnd">Casas Disponíveis</h2>
            </div>
            <div class="rooms-container">
                {% for casa in todas_casas %}
                <article class="room">
                  <div class="room-image">
                    {% if casa.fotos %}
                    <img src="{{ casa.fotos.url }}" alt="{{ casa.nome }}">
                    {% else %}
                      <p>Nenhuma imagem disponível</p>
                    {% endif %}
                  </div>
                  <div class="room-text">
                    <h3>{{ casa.nome }}</h3>
                    <ul>
                      <li><i class="fas fa-arrow-alt-circle-right"></i> Ocup.max.: {{ casa.quantidade_quartos }} Pessoas</li>
                      <li><i class="fas fa-arrow-alt-circle-right"></i> Piscina: {% if casa.possui_piscina %}Sim{% else %}Não{% endif %}</li>
                      <!-- Adicione mais detalhes conforme necessário -->
                    </ul>
                    <div class="cardText">
                      <p>{{ casa.introducao_casa }}</p>
                    </div>
                    <p class="rate">
                      <span style="font-size:18.0pt">R$ {{ casa.preco }} /-</span> /Noite
                    </p>
                    <button type="button" class="btn"><a class="booknw" href="{% url 'booking' %}">Reservar Agora</a></button>
                    {% if user.is_authenticated and user == casa.owner %}
                    <a href="{% url 'editar_casas' casa.id %}">EDITAR</a>
                    <a href="{% url 'remover_casa' casa.id %}"> REMOVER</a>
                  {% endif %}
                  </div>
                </article>  
                {% empty %}
                <P>não existem casas cadastradas</p>
              {% endfor %}  
              
            </div>
          </section>
        </section>
        <section class="reservas sec-width" id="reservas">
            <div class="title">
                <h2 class="drk-md-hnd">Suas Reservas</h2>
            </div>
            <div class="reservas-container">
                {% for reserva in reservas_do_usuario %}
                    <!-- Exiba detalhes da reserva -->
                    <div class="reserva-item">
                        <p>Casa: {{ reserva.casa.nome }}</p>
                        <p>Check-in: {{ reserva.data_check_in }}</p>
                        <p>Check-out: {{ reserva.data_check_out }}</p>
                        <!-- Adicione mais detalhes conforme necessário -->
                        {% if user_type == 'proprietario' %}
                            <a href="{% url 'cancelar_reserva' reserva.id %}">Cancelar Reserva</a>
                        {% endif %}
                    </div>
                {% empty %}
                    <p>Você não possui reservas no momento.</p>
                {% endfor %}
        
                <!-- Adicione o bloco condicional para exibir ou não o botão de reserva -->
                {% if user_type == 'locatario' %}
                    <p>Desculpe, você não tem permissão para reservar casas.</p>
                {% elif user_type == 'proprietario' %}
                    <button type="button" class="btn"><a class="booknw" href="{% url 'booking' %}">Reservar Agora</a></button>
                {% endif %}
            </div>
        </section>
        
        <!-- end of body content -->

        <!-- footer -->
        <footer class = "footer">
            <div class = "footer-container">
                <div>
                    <h2>Sobre Nós</h2>
                    <p>Bem-vindo à Casas em Pipa, sua maneira fácil e eficiente de alugar casas em Tibau do Sul e região. Conectamos locatários a propriedades incríveis em Pipa, oferecendo uma experiência simplificada e personalizada. Encontre seu lar ideal conosco.</p>
                        </p>
                    <ul class = "social-icons">
                        <li class = "flex">
                            <i class = "fa fa-twitter fa-2x"></i>
                        </li>
                        <li class = "flex">
                            <i class = "fa fa-facebook fa-2x"></i>
                        </li>
                        <li class = "flex">
                            <i class = "fa fa-instagram fa-2x"></i>
                        </li>
                    </ul>
                </div>

                <div>
                    <h2>Links uteis</h2>
                    <a href = "#header">Home</a>
                    
              
                </div>


                <div>
                    <h2>Contatos</h2>
                    <div class = "contact-item">
                        <span>
                            <i class = "fas fa-map-marker-alt"></i>
                        </span>
                        <span>
                            Praia da pipa, R. albacora 6019
                        </span>
                    </div>
                    <div class = "contact-item">
                        <span>
                            <i class = "fas fa-phone-alt"></i>
                        </span>
                        <span>
                         + 55 84 998424140
                        </span>
                    </div>
                    <div class = "contact-item">
                        <span>
                            <i class = "fas fa-envelope"></i>
                        </span>
                        <span>
                            mmakarios44@gmail.com
                        </span>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end of footer -->

        <script src="{% static 'javascript\script.js' %}"></script>
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    </body>
</html>
